<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhonicTales.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1A2B7111DDE8E6E004B8B78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1A2B7281DDE8E6F004B8B78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1A2B7331DDE8E6F004B8B78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
